body {
  font-family: system-ui;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 1rem;
}

.buttons {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
